<h1>Submit your grading</h1>

<div class="row">
  <div class="span4">
    <%= form_for @doc, 
          url: student_homework_document_path(student_id: @doc.submitter_id,
                                               id: @doc.id),
          html: { multipart: true } do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :graded_file %>
      <% if f.object.ungraded_file.exists? %>
        <%= link_to f.object.graded_file_file_name,
                    f.object.graded_file.url %>
      <% end %>
      <%= f.file_field :graded_file %>

      <%= f.label :graded_file_source_code %>
      <% if f.object.ungraded_file_source_code.exists? %>
        <%= link_to f.object.graded_file_source_code_file_name,
                    f.object.graded_file_source_code.url %>
      <% end %>
      <%= f.file_field :graded_file_source_code %>

      <%= f.submit "Submit grading", class: "btn btn-large" %>
    <% end %>
  </div>
</div>