<h1>Submit your grading</h1>

<%= form_for @doc, 
      url: student_homework_document_path(student_id: @doc.submitter_id,
                                           id: @doc.id),
      html: { multipart: true } do |f| %>
  
  <%= f.label :grade %>
  <%= f.number_field :grade %>

  <%= f.label :graded_file %>
  <%= f.file_field :graded_file %>

  <%= f.submit "Submit your grading" %>
<% end %>