<h1>Submit your homework</h1>

<%= form_for @doc, url: student_homework_documents_path(student_id: @doc.submitter_id) do |f| %>
  
  <!-- student_id is passed along due to nested route -->
  <%#= f.hidden_field :student_id, student_id %>
  <%= f.select :assignment_id, @assignment_options %>

  <%= f.label :content %>
  <%= f.text_area :content %>

  <%= f.submit "Submit homework" %>
<% end %>