<%= form_for @meeting, :html => { :multipart => true } do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :time %>
  <%= f.text_field :time, class: "datepicker" %>

  Materials:
  <ul>
    <%= f.fields_for :meeting_materials, :html => { :multipart => true } do |materials_form| %>
      <li>
        <%= materials_form.label :material %>
        <%= materials_form.file_field :material %>

        <%= materials_form.label :delete_material %>
        <%= materials_form.check_box :delete_material %>
      </li>
    <% end %>
  </ul>
  <%= f.submit "Submit", class: "btn btn-large" %>
<% end %>