<%= form_for @meeting, :html => { :multipart => true } do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :time %>
  <%= f.text_field :time, value: time_format(f.object.time), 
                                  class: "datetimepicker" %>

  Materials:
  <ul>
    <%= f.fields_for :meeting_materials, :html => { :multipart => true } do |materials_form| %>
      <li>
        <% if materials_form.object.material.exists? %>
          <%= link_to materials_form.object.material_file_name,
                      materials_form.object.material.url %>
          <%= materials_form.label :_destroy, class: "checkbox inline" do %>
            Remove attachment <%= materials_form.check_box :_destroy %>
          <% end %>
        <% else %>
          <%= materials_form.label :material %>
          <%= materials_form.file_field :material %>
        <% end %>
      </li>
    <% end %>
  </ul>
  <%= f.submit "Submit", class: "btn btn-large" %>
<% end %>