<% provide(:title, @assignment.title) %>
<h1>Assignment: <%= @assignment.title %></h1>

<p>Deadline: <%= @assignment.deadline.strftime("%m/%d/%Y %H:%M %Z") %></p>
<p><%= @assignment.body %></p>

<ul>
  <li><%= link_to "Assignment", @assignment.document.url %></li>
  <li><%= link_to "Assignment source code", @assignment.source_code.url %></li> 
  <li><%= @assignment.solution_file_name.nil? ?
            "Solution not yet available" :
            link_to("Solution", @assignment.solution.url) %></li>
  <li><%= @assignment.solution_source_code_file_name.nil? ?
            "Solution code not yet available" :
            link_to("Solution source code", @assignment.solution_source_code.url) %></li>
</ul>

<% if current_user.student? %>
  <% @student = current_user %>
  <%= link_to "Submit your work", new_student_homework_document_path(student_id: @student.id), class: "btn" %>
<% elsif current_user.teacher? %>
  <% @teacher = current_user %>
  <%= link_to "Edit assignment", edit_assignment_path(@assignment), class: "btn" %>
<% end %>