<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi there, <%= @submitter.name %></h1>
    <p>
      Your grade for Assignment <%= @assignment.id %>, "<%= @assignment.title %>", is
      <%= @doc.grade %>.<br>
    </p>
    
    <p>You can see your graded homework at <%= link_to "your profile page", user_url(@submitter) %>.<br>
    </p> 

    <p>Have a great day!</p>
  </body>
</html>