<div class="row center">
<h3>Visualization of your performance</h3>
<%= content_tag "div", id: "grade_bargraph", class: "span6", 
  data: { :finalgrades => @student.submitted_homework_documents.map(&:final_grade) } do %>
<% end %>

<%= content_tag "div", id: "grade_scatterplot", class: "span6",
  data: { :submissions => 
    @student.submitted_homework_documents.map { 
      |sub| [sub.assignment.title, sub.grade, (sub.assignment.deadline - sub.created_at) / 3600 ] 
    }
  } do %>
<% end %>
</div>

<div class="center">
<%= link_to "Submit new homework here", new_student_homework_document_path(student_id: @student.id), class: "btn btn-large btn-primary" %>
</div>

<div class="span12">
<h3>Your submissions:</h3>
<table class="table table-hover">
  <tr>
    <th scope="col">Assignment title</th>
    <th scope="col">Submission date</th>
    <th scope="col">Deadline</th>
    <th scope="col">Grade / Penalty / Final grade</th>
  </tr>
  <% @student.submitted_homework_documents.each do |submission| %>
    <tr>
      <td><%= submission.assignment.title %></td>
      <td><%= submission.created_at %></td>
      <td><%= submission.assignment.deadline %></td>
      <td><%= submission.grade.nil? ? "NA" : ("%.1f" % submission.grade) %> / <%= "%.2f" % submission.penalty %> / <%= submission.grade.nil? ? "NA" : ("%.1f" % submission.final_grade) %></td>
      <td>
        <% if submission.ungraded_file.exists? %>
          <%= link_to "Ungraded", submission.ungraded_file.url %>
        <% end %>
      </td>
      <td>
        <% if submission.ungraded_file_source_code.exists? %>
          <%= link_to "Ungraded code", submission.ungraded_file_source_code.url %>
        <% end %>
      </td>
      <td>
        <% if submission.graded_file.exists? %>
          <%= link_to "Graded", submission.graded_file.url %>
        <% end %>
      </td>
      <td>
        <% if submission.graded_file_source_code.exists? %>
          <%= link_to "Graded code", submission.graded_file_source_code.url %>
        <% end %>
      </td>
      <td><%= link_to "Edit your submission", edit_student_homework_document_path(student_id: @student.id, id: submission.id), class: "btn" %></td>
    </tr>
  <% end %>
</table>

<h3>Your grading jobs:</h3>

<h4>Finished</h4>
<table class="table table-hover">
  <tr>
    <th scope="col">Assignment title</th>
    <th scope="col">Grade</th>
    <th scope="col">Attachment</th>
  </tr>
  <% @student.returned_homework_documents.commented.each do |graded_doc| %>
    <tr>
      <td><%= graded_doc.assignment.title %></td>
      <td><%= graded_doc.grade %></td>
      <td><%= link_to "Ungraded", graded_doc.ungraded_file.url %></td>
      <td><%= link_to "Ungraded code", graded_doc.ungraded_file_source_code.url %></td> 
      <td><%= link_to "Graded", graded_doc.graded_file.url %></td>
      <td><%= link_to "Graded code", graded_doc.graded_file_source_code.url %></td>
      <td><%= link_to "Re-grade", edit_student_homework_document_path(student_id: graded_doc.submitter_id, id: graded_doc.id), class: "btn" %></td>
    <% end %>
  </tr>
</table>

<h4>Unfinished</h4>
<table class="table table-hover">
  <tr>
    <th scope="col">Assignment title</th>
    <th scope="col">Attachment</th>
  </tr>
  <% @student.returned_homework_documents.uncommented.each do |ungraded_doc| %>
    <tr>
      <td><%= ungraded_doc.assignment.title %></td>
      <td><%= link_to "Ungraded", ungraded_doc.ungraded_file.url %></td>
      <td><%= link_to "Ungraded code", ungraded_doc.ungraded_file_source_code.url %></td>
      <td><%= link_to "Grade", edit_student_homework_document_path(student_id: ungraded_doc.submitter_id, id: ungraded_doc.id), class: "btn" %></td>
    </tr>
  <% end %>
</table>
</div>