<% provide(:title, "Edit user") %>

<h1>Update your profile</h1>

<%= form_for @user, as: :user, url: user_path(@user.id) do |f| %>
  
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>

  <%= f.submit "Save changes" %>
<% end %>

<% if current_user?(@user) || current_user.teacher? %>
  <h1>Delete your account (careful!)</h1>
  <%= link_to "delete", user_path(@user), method: "DELETE",
                                          data: { confirm: "You sure?" } %>
<% end %>