<a href="<%= user_path(current_user) %>">
  <%= gravatar_for current_user, size: 52 %>
</a>
<h1>
  <%= current_user.name %>
</h1>
<div>
  <%= link_to "Work station", current_user %>
  <br>
  <%= link_to "Assignment list", assignments_path %>
</div>